$ctaBg1: linear-gradient(90deg, #ff005a 3.75%, #ff480d 100%);
$ctaBg2: linear-gradient(270deg, #00eca9 0%, #0367b4 100%);

@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local("SVN-Gilroy"),
    url("./assets/fonts/SVN-GilroyMedium.otf") format("otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("SVN-Gilroy"),
    url("./assets/fonts/SVN-GilroySemiBold.otf") format("otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("SVN-Gilroy"),
    url("./assets/fonts/SVN-GilroyBold.otf") format("otf");
}

@font-face {
  font-family: "SVN-Gilroy";
  font-style: normal;
  // font-weight: bold;
  src: local("SVN-Gilroy"),
    url("./assets/fonts/SVN-GilroyXBold.otf") format("otf");
}

//mixin
@mixin flexBox($flex-direction, $justify-content, $align-item) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-item;
}

@mixin headerStyle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  padding-top: 1rem;
  margin-bottom: 2.25rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 7.75rem;
    background: #ff1500;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin cta {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.6875rem;
  text-decoration: none;
  padding: 1.625rem 2.625rem;
  border-radius: 100px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

//Commonly classes
.caret-icon {
  width: 0;
  height: 1px;
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: black;
  transition: 0.5s;
  align-self: flex-start;
}
.caret-down {
  transform: rotate(0deg);
}
.caret-up {
  transform: rotate(180deg);
}

//=================Main stylesheet============================
* {
  font-family: "SVN-Gilroy";
}
html {
  font-size: 16px;
}

//Header component
.header-block {
  background: linear-gradient(180deg, #ffffff 0%, #c0d7e8 164.85%);
  background-image: url("./assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 3.125rem;
  margin-bottom: 4.1875rem;
  position: relative;
  height: 100vh;
  &__logo {
    position: absolute;
    top: 0;
    left: 15%; //375px
    @media screen and (min-width: 1920px) {
      left: 375px;
    }
  }
  &__navbar {
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
    ul {
      @include flexBox(row, flex-end, center);
      list-style-type: none;
      line-height: 5.625rem;
      padding-right: 21%; //405px;
      @media screen and (min-width: 1920px) {
        left: 405px;
      }
    }
    li {
      margin-left: 88px;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
    .language-box {
      position: relative;
      select {
        cursor: pointer;
        border: 1px solid #e8e8e8;
        background: #ffffff;
        border-radius: 6px;
        height: 2.75rem;
        padding: 0.625rem;
        padding-left: calc(0.625rem + 2.5rem);
        font-size: 0.875rem;
        font-weight: 500;
      }
      img {
        position: absolute;
        left: 0.625rem;
        top: calc(50% - 0.625rem);
      }
    }
    a {
      text-decoration: none;
      font-weight: 600;
      color: #000000;
    }
  }
  &__content {
    @include flexBox(column, center, center);
    padding-top: 4rem;
    margin: 0 auto;
    @media screen and (min-width: 1920px) {
      padding-top: 123px;
    }
    h3 {
      font-size: 3.125rem;
      font-weight: bold;
      text-transform: capitalize;
      color: #000000;
      margin-bottom: 1rem;
    }
    p {
      width: 50%;
      text-align: center;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.6875rem;
      margin-bottom: 4.875rem;
      color: #919191;
    }
    .cta-box {
      @include flexBox(row, center, center);
      flex-wrap: nowrap;
    }
    .cta-box a {
      @include cta();
      &:nth-child(1) {
        background: $ctaBg1;
        margin-right: 2.25rem;
      }
      &:nth-child(2) {
        background: $ctaBg2;
      }
    }
  }
}

//Service component
.service-block {
  padding-left: 7.5%!important;
  padding-right: 7.5%!important;
  position: relative;
  margin-bottom: 0.5rem;
  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  h3 {
    @include headerStyle();
  }
  &__content {
    @include flexBox(row, center, center);
    .card {
      max-width: 17.5rem;
      padding: 2.25rem 1.125rem;
      margin-right: 1.25rem;
      border-radius: 0.75rem;
      border: 1px dashed #d6d6d6;
      &:nth-child(1) {
        background: #fffff1;
      }
      &:nth-child(2) {
        background: #fceaec;
      }
      &:nth-child(3) {
        background: #eef9f3;
      }
      &:nth-child(4) {
        background: #eceaff;
        margin-right: 0;
      }
    }
    img {
      width: 7.25rem;
      margin: 0 auto;
      margin-bottom: 1.625rem;
    }
    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 2rem;
      text-align: center;
      color: #000000;
      margin-bottom: 0.75rem;
    }
    .card-text {
      font-weight: 500;
      color: #929292;
      text-align: center;
      line-height: 1.25rem;
    }
  }
}

//Student + Tutor component
.service-detail {
  @include flexBox(row, flex-end, center);
  // padding: 4.625rem 3.75rem 5.75rem 15%;
  padding: 4.625rem 7.5% 5.75rem 7.5%;
  background: #fbfbfb;
  position: relative;
  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__content {
    margin-right: 1.875rem;
    width: 50%;
    h3 {
      font-size: 3rem;
      font-weight: 600;
      color: #1c104a;
      margin-bottom: 1rem;
    }
    .content-wraper {
      margin-bottom: 0.625rem;
    }
    .content {
      background: #ffffff;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.11);
      border-radius: 6px;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1.125rem;
      cursor: pointer;
      .button {
        @include flexBox(row, flex-start, center);
        img {
          margin-right: 0.75rem;
          width: 1.625rem;
        }
        .text {
          flex-grow: 2;
        }
      }
    }
    .note {
      color: #ff1500;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 1.75rem;
    }
    .cta {
      @include cta();
      background: $ctaBg2;
    }
    .tutor {
      background: $ctaBg1;
    }

  }
  &__image {
    width: 50%;
    img {
      max-width: 100%;
    }
  }
}

//Process component
.process-block {
  &__header {
    @include headerStyle();
  }
  &__content {
    @include flexBox(row, center, flex-start);
    padding: 0 7.5%;
    margin-bottom: 5.625rem;
    @media screen and (min-width: 1920px) {
      padding: 0 9rem;
    }
    .stage {
      @include flexBox(column, flex-start, center);
      width: 18%;
      span {
        background: #f2f2f2;
        color: #ff0754;
        border: 4px solid #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 3.375rem;
        padding: 0.875rem 2rem;
        display: inline-block;
        margin-bottom: 2rem;
      }
      .odd {
        color: #ffffff;
        background: linear-gradient(180deg, #ff015a 0%, #ff4213 100%);
        border: 4px solid #ffffff;
        box-sizing: border-box;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
      }
      p {
        color: #212e5e;
        text-align: center;
        line-height: 1.5rem;
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
    .step-sign {
      border: 2px dashed #ff0555;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      border-color: #ff0555 transparent transparent transparent;
      transform: translateY(25%);
    }
    .even {
      border-color: transparent transparent #ff0555 transparent;
      transform: translateY(-65%);
    }
  }
  &__data {
    @include flexBox(row, space-between, center);
    padding: 4.5rem 7.5%;
    margin-bottom: 3.5rem;
    background: #FBFBFB;
    // @media screen and (min-width: 1920px) {
    //   padding: 0 222px;
    // }
    .data-name {
      @include flexBox(column, center, center);
      .volum-style-1 {
        background: linear-gradient(to right, #c132fa 0%, #5f38f7 100%);
      }
      .volum-style-2 {
        background: linear-gradient(to right, #fc5b82 0%, #fca485 100%);
      }
      .volum-style-3 {
        background: linear-gradient(to right, #42b0fa 0%, #7759f4 100%);
      }
      .volum-style-4 {
        background: linear-gradient(to right, #5bd76e 0%, #25d48c 100%);
      }
      .volum-style-5 {
        background: linear-gradient(to right, #ff8f0b 0%, #ffdc81 100%);
      }
      .volum {
        font-size: 5rem;
        font-weight: 900;
        line-height: 6.625rem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .name {
        line-height: 1.625rem;
        color: #5a5a5a;
        text-align: center;
        font-weight: 500;
        font-size: 1.25rem;
      }
    }
  }
}

//Faq component
.faq-block {
  margin-bottom: 6.875rem;
  position: relative;
  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__header {
    @include headerStyle();
  }
  &__content {
    @include flexBox(row, flex-end, center);
    padding: 0 7.5% 0 7.5%;
    margin-bottom: 6.875rem;
    // @media screen and (min-width: 1920px) {
    //   padding: 0 122px 0 396px;
    // }
    .content-container {
      flex-grow: 2;
      width: 50%;
      margin-right: 102px;
      .content-box {
        background: #ffffff;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        padding: 1.5rem;
        margin-bottom: 2.25rem;
        .button {
          @include flexBox(row, space-between, center);
          cursor: pointer;
        }
        .text {
          color: #212e5e;
          line-height: 1.5rem;
          font-size: 1.125rem;
          font-weight: 500;
        }
        .collapse {
          padding-top: 1rem;
          transition: 0.5s;
        }
      }
    }
  }
}

//Invite component
.invite-block {
  @include flexBox(column, center, center);
  padding: 4.375rem 0;
  margin-bottom: 6rem;
  background-image: url("./assets/images/invite.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__header {
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    line-height: 4.625rem;
    font-size: 3.5rem;
    font-weight: bold;
    width: 60%;
    margin-bottom: 3.75rem;
  }
  &__cta-box {
    a {
      @include cta();
    }
    .tutor {
      background: $ctaBg1;
      margin-right: 2.25rem;
    }
    .student {
      background: $ctaBg2;
    }
  }
}

//Footer component
.footer-block {
  &__header {
    @include headerStyle();
    margin-bottom: 2.25rem;
  }
  &__form {
    @include flexBox(row, flex-start, center);
    margin: 0 auto;
    max-width: 60%;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.12);
    border-radius: 150px;
    padding: 1rem 1.5rem;
    margin-bottom: 6.25rem;
    input {
      flex-grow: 2;
      border: none;
      outline: none;
    }
    button {
      padding: 1.125rem 6rem;
      background: #0367b4;
      box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.12);
      border-radius: 150px;
      border: none;
      outline: none;
      font-size: 1.25rem;
      font-weight: bold;
      color: #ffffff;
    }
  }
  &__contact {
    @include flexBox(row, space-between, center);
    background-image: url("./assets/images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12.25rem 7.5% 7.25rem 7.5%;
    list-style-type: none;
    .contact {
      @include flexBox(column, flex-start, flex-start);
      flex-grow: 2;
      img {
        margin-bottom: 3rem;
      }
      a {
        color: #ffffff;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: normal;
        margin-bottom: 1.5rem;
        text-decoration: none;
      }
    }
    a {
      color: #ffffff;
      font-weight: 500;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
}
